# Expo public API URL for the app
EXPO_PUBLIC_API_URL=

# Database URL for NeonDB   
DATABASE_URL=

# Imagekit API Key
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=

# Better Auth
BETTER_AUTH_URL=

# Google OAuth Credentials
GOOGLE_CLIENT_ID=